
#lenoxImage{
    width: 100vw;
    height:450px;
}
.cardOne{
    width: 300px;
}
#navbaby{
    background: rgb(27, 10, 0);
    color: white;
    text-decoration: none;
}

#button{
    background: rgb(236, 9, 2);
}