#lenoxImage{
    width: 100vw;
    height:450px;
}
.cardOne{
    width: 300px;
}
#navbaby{
    background: rgb(27, 10, 0);
    color: white;
    text-decoration: none;
}

#button{
    background: rgb(255, 54, 36);
    
}

#button:hover{
    background: rgba(255, 48, 48, 0.911);
    
}
#removeButton{
    background: black;
    display: block;
    width: 100%;
    font-weight: 400;
    color: red;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s
    
}
#removeButton:hover{
    background: rgba(14, 0, 0, 0.911);
    
}
input{
    border-color: orange;
}

#pics{
    width: 300px;
    height: 350px;
}